*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(images/fondo.png);
    background-size: cover;
}

.main h1{
    text-align: center;
}

.main p{
    margin: 20px;
    text-align: center;
}

.main-container{
    position: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container{
    align-items: center;
    background-image: url(https://i.blogs.es/bf5ad0/league-of-legends-destacada/1366_521.jpeg);
    background-size: cover;
}

#main-img{
    height: 50%;
    width: 600px;
    margin-left: 399px;
}

#summ-cup{
    width: 200px;
    height: 200px;
}

/**************************BARRA DE NAVEGACION************************************/
.navbar{
    background: #292E49;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo{
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#img-logo{
    width: 100%;
    height: 100%;
    
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item{
    height: 80px;
}

.navbar-links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
}

.navbar-links:hover{
    color: orange;
    transition: all 0.3s ease;
}

/******************RESPONSIVIDAD*********************************************/
@media screen and (max-width: 960px){
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #292E49;
    }
    .navbar-menu.active{
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.6rem;
    }
    #navbar-logo{
        padding-left: 25px;
    }
    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar-item{
        width: 100%;
    }
    .navbar-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/**************************************INDEX*********************************************/
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2{
    background-size: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card{
    margin: 1rem;
    height: 327px;
    width: 349px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
}

.services-card img{
    width: 200px;
    height: 200px;
}

.services-card a{
    color: #fff;
    padding: 10px 20px;
    background-color: #FC5656;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.services-card a:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .services-container{
        grid-template-columns: 1fr 1fr;
    }
    .services h2{
        font-size: 2rem;
        /*margin-top: 12rem;*/
   }
}

@media screen and (max-width: 480px) {
    .services-container{
        grid-template-columns: 1fr;
    }
    .services h2{
        font-size: 1.2rem;
    }
    .services-card h3{
        font-size: 1rem;
    }
    .services-card a{
        padding: 8px 10px;
    }
    .services-card{
        left: 40px;
    }
    .services-card img{
        width: 300px;
    }
}

/*************************************HISTORIA Y LOLPRO****************************************/

.first-container{
    background-image: url(images/fondo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 20px #FF9000;
    border-bottom: solid 20px #FC5656;
}

.container-wrapper{
    display: flex;
}

.img-box{
    margin: 1rem;
    background-size: cover;
    position: relative;
    max-width: 600px;
}

.img-box img{
    width: 500px;
}

.first-container .img-box img{
    max-width: 300px;
}

.text-container{
    margin: 2rem;
    align-items: center;
}

.text-container h2{
    border-bottom: 3px solid #FF9000;
    margin-bottom: 1rem;
}

.text-container p{
    text-align: justify;
    margin-bottom: 1rem;
}

.second-container, .third-container{
    background-image: url(images/fondo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 20px #FC5656;
}

.fourth-container{
    background-image: url(images/fondo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-masinfo{
    color: #fff;
    padding: 10px 20px;
    background-color: #FC5656;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

#btn-masinfo:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .container-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .first-container .img-box img{
        max-width: 200px;
    }
}

/***********************************FOOTER************************************/

.footer-container{
    background-color: #292E49;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper{
    display: flex;
    /*width: 100%; /*No width*/
}

.footer-links-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 260px; /*260 px*/
    box-sizing: border-box;
}

.footer-links-items h3{
    margin-bottom: 16px;
    color: #fff;
}

.footer-links-items p a{
    color: #fff;
    margin-bottom: 0.5rem;
}

.footer-links-items p a:hover{
    color: orange;
    transition: all 0.3s ease;
}

#btn-Buscar{
    color: #fff;
    padding: 10px 20px;
    background-color: #FC5656;
    border: none;
    outline: none;
    border-radius: 80px;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.footer-links-items input{
    border-radius: 4px;
}

.pie{
    background-color: #F5AF19;
    color: #292E49;
    font-size: 16px;
}

.pie-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.pie-wrap p{
    font-weight: bold;
}

.website-right{
    margin-left: 10%;
}

.inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.inputBox input{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    resize: none;
}

.inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #FC5656;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .footer-link-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .pie-wrap p{
        font-size: 12px;
    }
}